@import './_mixins.scss';
@include font-face(webly-sleek-ui, fonts/weblysleekuil, 200, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuili, 200, italic, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisl, 400, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisli, 400, italic, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisb, 600, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisbi, 600, italic, ttf);

$dark-text: #2c3e50;
$medium-text: #4e5758;
$blue: #3a9bdc;
$green: #78c46a;
$purple: #b668b7;
$red: fade-out(#ce0b24, .5);
$light-gray: #ecf0f1;
$gray: #cccccc;
$medium-screen: 500px;
$font-stack: webly-sleek-ui, 'helvetica neue', helvetica, arial, sans-serif;

.hide {
  display: none !important;
}

.delete {
  font-size: 1.8em;
  position: relative;
  top: .1em;
  line-height: 0;
  color: $gray;
  &:hover {
    color: $red;
  }
}

html {
  font-size: 16px;
}

body {
  font: 400 100%/1.4 $font-stack;
  background-color: $light-gray;
  color: $dark-text;
  padding-top: 41px;    // For fixed menu
  padding-bottom: 60px; // For color dropdown
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  &, &.ui.header {
    font-weight: 200;
    line-height: inherit;
  }
}

.ui.button {
  border-radius: 2em;
  font-weight: 200;
  padding: .8em 1em;

  &:focus {
    box-shadow: 0 0 2px $gray !important;
  }

  &.blue {
    background-color: $blue;
  }
}

.ui.input, .ui.input input, ui.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.ui.checkbox label, .ui.checkbox label:hover, .ui.checkbox .box:after, .ui.checkbox .box:before, .ui.checkbox label:after, .ui.checkbox label:before {
  color: inherit;
}

.ui.segment {
  padding: 1.5rem;
}

.click-to-edit-text {
  width: 100%;
  cursor: pointer;
  .static, .input input {
    padding: .6em .2em 0 0;
  }
  .input input {
    border: none;
  }
}

.color-picker {
  .ui.dropdown.button.top.left.pointing {
    padding: .4em;
    border-radius: .4em;
    vertical-align: middle;
    min-height: 0;

    .menu {
      left: -1em;
      white-space: normal;
      width: 7.4em;
      .item {
        display: inline-block;
        padding: .4em !important;
        text-align: center;
        &.active {
          background-color: $light-gray;
        }
        .icon {
          margin: 0;
          padding: 0;
          font-size: 1.2em;
        }
      }
    }
  }
}

.ui.input.date-time-field {
  input {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: none;
    &.date { width: 4.7em; }
    &.hour { width: .9em; text-align: right; }
    &.minute { width: 1.1em; }
    &.meridiem { width: 1.6em; }
    &::selection {
      background-color: transparent;
      color: inherit;
    }
    &:focus {
      background-color: fade-out($blue, .8);
    }
  }
}

#container {
  background-color: white;
  max-width: $medium-screen;
  border-width: 0;
  border-radius: 0;
  @media (min-width: $medium-screen + 40px) {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px fade-out(black, .8);
  }

  h1 {
    text-align: center;
    margin: -1.5rem -1.5rem .5em -1.5rem;
    padding: .5em;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: $dark-text;
  }
}

#menu {
  background-color: $dark-text;
  color: white;
  .container {
    max-width: $medium-screen;
    margin: auto;
  }
}

$overdue-border-width: 5px;
ul.category {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  min-height: 10px;
  li.task {
    padding: 0 3.5em .5em 2.5em;
    margin-left: $overdue-border-width;
    box-sizing: content-box;
    position: relative;
    & > * {
      display: inline-block;
      vertical-align: top;
    }

    .overdue {
      display: none;
    }
    .not-overdue {
      display: inline-block;
    }

    & > .content {
      &, .title .ui.input, .title .ui.input input {
        width: 100%;
      }
    }

    .checkbox {
      position: absolute;
      min-height: 0;
      top: .8em;
      left: .5em;
    }
  }
}

.category-header {
  border-bottom: 1px solid $light-gray;
  position: relative;
  .header, .add, .color-picker {
    display: inline-block;
  }
  .header {
    margin: .5em .2em .5em 0;
    color: inherit;
  }
  .add {
    font-size: 120%;
    color: inherit;
  }
  .delete {
    top: .4em;
  }
}

.task.completed {
  .static {
    text-decoration: line-through;
  }
}

.category .task.overdue {
  border-left: $overdue-border-width solid $red;
  margin-left: 0px;
  .overdue {
    display: inline-block;
    color: $red;
  }
  .not-overdue {
    display: none;
  }
}

.due-date {
  font-size: 80%;
  .add {
    opacity: 0;
    // transition: .1s opacity linear;
  }
}

.category > li:hover .due-date .add {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

.right.icons {
  opacity: 0;
  padding-top: .6em;
  position: absolute;
  top: 0;
  right: 0;
  color: $gray;
  &:hover {
    opacity: 1 !important;
  }
  .delete {
    font-weight: 600;
  }
  .handle {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
}

.task:hover, .task.editing, .category-header:hover, .category-heading.editing {
  .right.icons {
    opacity: .5;
  }
}

#remove-completed {
  color: $gray;
  float: right;
  font-size: .8em;
  &:hover {
    color: $red;
  }
}

#add-category {
  display: block;
  margin: 0 -1.5rem;
  padding: 2em;
  background-color: white;
  color: $gray;
  &:hover {
    background-color: fade-out($light-gray, .5);
    color: $dark-text;
  }
  &:last-child {
    border-radius: 0 0 10px 10px;
    margin-bottom: -1.5rem;
  }
}
