@import './_mixins.scss';
@include font-face(webly-sleek-ui, fonts/weblysleekuil, 200, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuili, 200, italic, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisl, 400, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisli, 400, italic, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisb, 600, normal, ttf);
@include font-face(webly-sleek-ui, fonts/weblysleekuisbi, 600, italic, ttf);

$dark-text: #2c3e50;
$medium-text: #4e5758;
$blue: #3a9bdc;
$green: #78c46a;
$purple: #b668b7;
$red: #ce0b24;
$light-gray: #ecf0f1;
$gray: #aaa;
$medium-screen: 500px;
$font-stack: webly-sleek-ui, 'helvetica neue', helvetica, arial, sans-serif;

.hide {
  display: none !important;
}

html {
  font-size: 16px;
}

body {
  font: 400 100%/1.4 $font-stack;
  background-color: $light-gray;
  color: $dark-text;
  padding-bottom: 60px; // For color dropdown
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  &, &.ui.header {
    font-weight: 200;
    line-height: inherit;
  }
}

.ui.button {
  border-radius: 2em;
  font-weight: 200;
  padding: .8em 1em;

  &:focus {
    box-shadow: 0 0 2px $gray !important;
  }

  &.blue {
    background-color: $blue;
  }
}

.ui.input, .ui.input input, ui.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.ui.checkbox label, .ui.checkbox .box:after, .ui.checkbox .box:before, .ui.checkbox label:after, .ui.checkbox label:before {
  color: inherit;
}

.ui.segment {
  padding: 1.5rem;
}

.click-to-edit-text {
  cursor: pointer;
  .static, .input input {
    padding: .6em .2em 0 0;
  }
  .input input {
    border: none;
  }
}

.color-picker {
  .ui.dropdown.button.top.left.pointing {
    padding: .4em;
    border-radius: .4em;
    vertical-align: middle;
    min-height: 0;

    .menu {
      left: -14px;
      white-space: normal;
      width: 103px;
      .item {
        display: inline-block;
        padding: .4em !important;
        text-align: center;
        &.active {
          background-color: $light-gray;
        }
        .icon {
          margin: 0;
          padding: 0;
          font-size: 1.2em;
        }
      }
    }
  }
}

.ui.input.date-time-field {
  input {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: none;
    &.date { width: 4.7em; }
    &.hour { width: .9em; text-align: right; }
    &.minute { width: 1.1em; }
    &.meridiem { width: 1.6em; }
    &::selection {
      background-color: transparent;
      color: inherit;
    }
    &:focus {
      background-color: fade-out($blue, .8);
    }
  }
}

#container {
  background-color: white;
  max-width: $medium-screen;
  border-width: 0;
  border-radius: 0;
  @media (min-width: $medium-screen + 40px) {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px fade-out(black, .8);
  }

  h1 {
    text-align: center;
    margin: -1.5rem -1.5rem .5em -1.5rem;
    padding: .5em;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: $dark-text;
  }
}

ul.category {
  margin-top: 0;
  list-style-type: none;
  padding-left: .5em;
  li {
    border-bottom: 1px solid transparent;
    & > * {
      display: inline-block;
      vertical-align: top;
    }

    .checkbox {
      min-height: 0;
    }
  }
}

.category-header {
  border-bottom: 1px solid $light-gray;
  .header, .add, .color-picker {
    display: inline-block;
  }
  .header {
    margin: .5em .2em .5em 0;
    color: inherit;
  }
  .add {
    font-size: 150%;
    color: inherit;
  }
}

.due-date {
  font-size: 80%;
  .add {
    opacity: 0;
    // transition: .1s opacity linear;
  }
  .delete {
    color: $gray;
    &:hover {
      color: $red;
    }
  }
}

.category > li:hover .due-date .add {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
